# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
ENV/
env/
.venv/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# VS Code settings
.vscode/

# macOS system files
.DS_Store

# Logs
*.log

# Environment variables
.env
.env.*

# Python packaging
*.egg
*.egg-info/
dist/
build/
*.manifest
*.spec

# Testing and coverage
.coverage
.cache/
nosetests.xml
coverage.xml
*.cover
.hypothesis/

# PyInstaller
*.spec

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pylint
pylint-report.txt
pylint-global.txt

# Pyre type checker
.pyre/

.megaignore
*.ini
utils
WSTG_Tracker*
.idea