.megaignore

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
ENV/
env/
.venv/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# VS Code settings
.vscode/

# macOS system files
.DS_Store

# Logs
*.log

# Environment variables
.env
.env.*

# Python packaging
*.egg
*.egg-info/
dist/
build/
*.manifest
*.spec

# Testing and coverage
.coverage
.cache/
nosetests.xml
coverage.xml
*.cover
.hypothesis/

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pylint
pylint-report.txt
pylint-global.txt

# Pyre type checker
.pyre/

.megaignore
*.ini
WSTG_Tracker*
.idea

public/saves

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Electron
release/
dist/
.webpack/
out/

# Build artifacts
*.exe
*.dmg
*.snap
*.AppImage
*.deb
*.rpm

# OS
Thumbs.db
.DS_Store
